@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.container-fluid {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  background-color: #f7f7f7;
  overflow: hidden;
}

.card-header {
  background-color: #191d2b;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
}

.card-body {
  padding: 30px;
}

.form-label {
  font-weight: 500;
  font-size: 1.1rem;
}

.btn {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #191d2b;
  border: none;
}

.btn-primary:hover {
  background-color: #10121b;
}

.form-outline {
  position: relative;
}

.form-control {
  border-radius: 30px;
  padding: 15px 25px;
  background-color: #f7f7f7;
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  top: 0;
  left: 0;
  color: #191d2b;
  font-size: 0.9rem;
  transform: translateY(-50%);
  background-color: #f7f7f7;
  padding: 0 10px;
  border-radius: 30px;
}

.btn-block {
  margin-top: 30px;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
